.navbar {
    background-color: $primary-color;
    margin-top: 0;
  
    .nav-link {
      color: white !important;
      padding: 10px 15px;
      font-weight: 500;
      text-transform: uppercase;
  
      &:hover {
        background-color: darken($primary-color, 10%);
        color: $background-color !important;
      }
  
      &.active {
        background-color: $secondary-color;
      }
    }
  }
  