
// _mixins.scss

// Centrar elementos con Flexbox
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Box-shadow reutilizable
@mixin box-shadow($level) {
  box-shadow: 0px $level 10px rgba(0, 0, 0, 0.1);
}

// Mixin para tipografía
@mixin typography($size, $weight: 400) {
  font-size: $size;
  font-weight: $weight;
  font-family: 'Roboto', sans-serif;
}
