// Variables de colores
$primary-color: #343a40;
$secondary-color: #007bff;
$text-color: #333;
$background-color: #f8f9fa;
$dark-color: #000;  // Definir el color oscuro
$primary-color: #007bff;
$dark-color: #333; // Color oscuro que prefieras
$white-color: #fff; // Blanco o el color que elijas para el texto
$padding: 20px;
$margin: 20px;
$text-color: #333;

// Variables de fuentes
$font-family: 'Roboto', sans-serif;
$base-font-size: 16px;

// Variables de espaciado
$padding: 1.25rem;
$margin: 1.25rem;
