
// navbar.scss

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navbar-bg-color;

  .navbar-nav {
    display: flex;
    gap: 20px;
  }

  .nav-link.active {
    border-bottom: 2px solid $primary-color; // Indicar la página activa
  }
}
